@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
* {
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

body {
    background: rgb(241, 241, 241)
}

.article-container img{
  max-width: 100%; 
  height: auto; 
  display: block;
  margin: 1rem auto;
}

.article-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

p {
    font-size: 2rem;
}

b {
    font-size: 2rem;
}

small {
    font-size: 1.5rem;
}

li {
    font-size: 1.7rem;
}

pre {
    padding: 10px;
    border-radius: 5px;
}

pre, code {
    background-color: #e6e6e6;
}